<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col class="ion-no-margin ion-no-padding center" [routerLink]="['/login']" [size]="1" >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding center"  [size]="11" >
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <h1 size="large">¡We are very happy that you are here!</h1>
    </ion-toolbar>
  </ion-header>
  <ion-row class="ion-padding">
    <ion-col class="ion-no-padding ion-no-margin">

      <ion-row>
        <ion-input type="text" fill="solid" label="Name" labelPlacement="floating"
                   errorText="Invalid name" ngModel ></ion-input>
      </ion-row>
      <ion-row>
        <ion-input type="text" fill="solid" label="Last name" labelPlacement="floating"
                   errorText="Invalid last name" ngModel ></ion-input>
      </ion-row>
      <ion-row>
        <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Enter a valid email"
                   errorText="Invalid email" ngModel email></ion-input>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
