<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col class="ion-no-margin ion-no-padding center" [routerLink]="['/login']" [size]="1" >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding"  [size]="11" >
        <p>Change pass</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">change-pass</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
