<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col class="ion-no-margin ion-no-padding center" (click)="goBack()" [size]="1" >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding center"  [size]="8" >
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding center"  [size]="1.5"  >
        <ion-icon name="trash" (click)="deleteMovie()"></ion-icon>
      </ion-col>
      <ion-alert trigger="present-alert" class="custom-alert" header="Are you sure delete?" [buttons]="alertButtons"></ion-alert>
      <ion-col class="ion-no-margin ion-no-padding center"  [size]="1.5" >
        <ion-icon  *ngIf="!isModeEdit" (click)="editPelicula()" name="pencil-outline"></ion-icon>
        <ion-icon  *ngIf="isModeEdit" (click)="confirmEdit()" [color]="'success'" name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-toolbar>
      <ion-input type="text" [ngClass]="isModeEdit?'input-mode-edit':'input'"  [readonly]="!isModeEdit" value="{{movie?.titleText?.text}}" (ionChange)="onTitleChanged($event)"></ion-input>
    </ion-toolbar>
  <ion-row>
    <ion-col [size]="12">
      <ion-card class="ion-no-padding ion-no-margin">
        <ion-img [src]="movie?.primaryImage?.url" alt="Imagen"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col [size]="6">
        <ion-row>
          <p class="ion-no-padding ion-no-margin">Rate</p>
        </ion-row>
        <ion-row>
          <ion-icon *ngFor="let i of [1, 2, 3, 4, 5]"
                    name="star"
                    [color]="i <= (movie?.rate?.points || 0) ? 'warning' : 'medium'">
          </ion-icon>
        </ion-row>
    </ion-col>
    <ion-col class="ion-padding-end" [size]="6">
      <ion-row >
        <ion-input type="number" [ngClass]="isModeEdit?'input-mode-edit':'input'" [readonly]="!isModeEdit" style="text-align: right" value="{{movie?.releaseYear?.year}}" (click)="modeEditVerification()" (ionChange)="onYearChanged($event)"></ion-input>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
