ion-card{
  height: 180px;
}

.row-image-pelicula{
  height: 100px;
}

.input {
  font-size: 1.3rem;
  font-weight: bold;
}

.input-mode-edit {
  font-size: 1.3rem;
  font-weight: bold;
  color: dimgray;
}


